$myorange: #ff942e;
$myred: #df3670;
$myblue: #4067f9;
$artred: #ffd5be;
$lired: #fed2cba0;
$artblue: #bbdeff;
$ligreen: #c8f7dca0;
$mytext: #333333;
$artgreen: #d6efd1;
$mydark: #1f1c2e;
$mywhite: #fff;
$libg: #b9b9b945;
$limodal: #f4f4f4e3;
$dkmodal: #f4f4f4e3;

$dkbg: #1f1c2ec4;